

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapseParent1">Inbuild Pipe Demo</a>
    </h4>
  </div>
  <div id="collapseParent1" class="panel-collapse collapse">
    <div class="panel-body">
      <app-basic-pipes></app-basic-pipes>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapseParent2">Custom Pipe Demo</a>
    </h4>
  </div>
  <div id="collapseParent2" class="panel-collapse collapse">
    <div class="panel-body">
      <app-custom-pipes></app-custom-pipes>
    </div>
  </div>
</div>